html, body{
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  margin: 0px 0px;
  overflow: hidden;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
}

.bg{
  position: fixed;
  width: 100%;
  height: 100%;
  
  left: 0px;
  top: 0px;
  z-index: 6;

  pointer-events: none
}

.bg img{
  width: 100%;
  height: 100%;
}

.scratch-zone {
  position: absolute;
}

.scratch-zone img {
  width: 100%;
  height: 100%;
}

.scratch-zone .mask {
  position: absolute;
  z-index: 5;

  top: 0px;
  left: 0px;
}

.scratch-zone .prize {
  position: absolute;
  z-index: 4;

  top: 0px;
  left: 0px;
}